# Expenditure By Major Economic Classification 2021/2022

In [2]:
import tabula
import pandas as pd

# Path to the PDF file
pdf_path = "C:/Users/gorja/Downloads/Counties-Sep-2022-web.pdf"

# Extract tables from the specified pages
tables_page_26 = tabula.read_pdf(pdf_path, pages=26, multiple_tables=True)
tables_page_27 = tabula.read_pdf(pdf_path, pages=27, multiple_tables=True)

# Assuming the relevant table on page 31 is the first one
# Combine the extracted tables from page 32 and the relevant table from page 32
combined_tables = tables_page_26 + [tables_page_27[0]]

# Combine the extracted tables into a single DataFrame
combined_df = pd.concat(combined_tables, ignore_index=True)

# Display the whole DataFrame
pd.set_option('display.max_rows', None)  # Show all rows
pd.set_option('display.max_columns', None)  # Show all columns
print(combined_df)

# Save the combined DataFrame to a CSV file
combined_df.to_csv('Own Source Revenue Collection_2021_2022.csv', index=False)
print("Own Source Revenue Collection_2021_2022_filtered.csv'.")

Error importing jpype dependencies. Fallback to subprocess.
No module named 'jpype'

         Unnamed: 0 Annual Own Source Revenue (OSR) FY 2021/22 OSR Collection  \
0            County                             NaN                       NaN
1               NaN   Target for FY 2021/22 (Kshs.)                   (Kshs.)
2           Baringo                     288,546,935               264,898,800
3             Bomet                     260,000,000               202,430,010
4           Bungoma                     746,811,602               368,035,218
5             Busia                     976,108,322               292,736,456
6   Elgeyo Marakwet                     266,100,000               162,252,071
7              Embu                     900,000,000               394,540,728
8           Garissa                     150,000,000                65,624,500
9          Homa Bay                     164,982,028               146,642,418
10           Isiolo                     113,686,337               107,832,875
11          Kajiado                   1,595,132,700               527,943,689
12         Kakamega                   1,600,000,000             1,226,076,737
13          Kericho                     842,636,240               566,821,704
14           Kiambu                   4,288,015,282             3,149,182,552
15           Kilifi                   1,118,754,087               827,496,951
16        Kirinyaga                     485,000,000               364,653,724
17            Kisii                     700,000,000               404,554,620
18           Kisumu                   1,984,000,003               982,789,204
19            Kitui                     800,000,000               361,271,342
20            Kwale                     438,000,000               302,688,593
21         Laikipia                   1,313,813,276               894,884,655
22             Lamu                     120,000,000               126,995,226
23         Machakos                   1,682,894,197             1,118,461,753
24          Makueni                     906,306,710               749,406,507
25          Mandera                     200,037,792               132,899,851
26         Marsabit                     170,000,000                99,563,452
27             Meru                     689,061,600               385,391,541
28           Migori                     350,000,000               386,872,946
29          Mombasa                   4,957,305,414             3,608,672,111
30         Murang'a                   1,580,000,000               520,317,425
31     Nairobi City                  19,610,744,671             9,238,804,878
32           Nakuru                   1,980,000,000             1,707,447,685
33            Nandi                     387,106,430               275,658,466
34            Narok                   2,354,426,171             1,334,563,666
35          Nyamira                     295,000,000               166,487,465
36        Nyandarua                     990,000,000               473,061,809
37            Nyeri                   1,000,000,000               948,313,629
38          Samburu                     157,264,422               120,049,011
39            Siaya                     445,445,551               434,376,276
40     Taita Taveta                     450,282,421               315,575,986
41       Tana River                      87,846,000                72,260,813
42              NaN                             NaN                       NaN
43              NaN                             NaN                       NaN
44              NaN                             NaN                       NaN
45              NaN                             NaN                       NaN
46              NaN                             NaN                       NaN
47              NaN                             NaN                       NaN
48              NaN                             NaN                       NaN
49              NaN                             NaN                       NaN

   % of Collection of OSR         County  \
0                     NaN            NaN
1   Against Annual Target            NaN
2                    91.8            NaN
3                    77.9            NaN
4                    49.3            NaN
5                    30.0            NaN
6                    61.0            NaN
7                    43.8            NaN
8                    43.7            NaN
9                    88.9            NaN
10                   94.9            NaN
11                   33.1            NaN
12                   76.6            NaN
13                   67.3            NaN
14                   73.4            NaN
15                   74.0            NaN
16                   75.2            NaN
17                   57.8            NaN
18                   49.5            NaN
19                   45.2            NaN
20                   69.1            NaN
21                   68.1            NaN
22                  105.8            NaN
23                   66.5            NaN
24                   82.7            NaN
25                   66.4            NaN
26                   58.6            NaN
27                   55.9            NaN
28                  110.5            NaN
29                   72.8            NaN
30                   32.9            NaN
31                   47.1            NaN
32                   86.2            NaN
33                   71.2            NaN
34                   56.7            NaN
35                   56.4            NaN
36                   47.8            NaN
37                   94.8            NaN
38                   76.3            NaN
39                   97.5            NaN
40                   70.1            NaN
41                   82.3            NaN
42                    NaN  Tharaka Nithi
43                    NaN    Trans Nzoia
44                    NaN        Turkana
45                    NaN    Uasin Gishu
46                    NaN         Vihiga
47                    NaN          Wajir
48                    NaN     West Pokot
49                    NaN          Total

   Annual Own Source Revenue (OSR)\rTarget for FY 2021/22 (Kshs.)  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21                                                NaN
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN
28                                                NaN
29                                                NaN
30                                                NaN
31                                                NaN
32                                                NaN
33                                                NaN
34                                                NaN
35                                                NaN
36                                                NaN
37                                                NaN
38                                                NaN
39                                                NaN
40                                                NaN
41                                                NaN
42                                        350,000,000
43                                        529,500,000
44                                        180,000,000
45                                      1,414,917,111
46                                        232,658,878
47                                        100,000,000
48                                        170,000,000
49                                     60,422,384,180

   FY 2021/22 OSR Collection\r(Kshs.)  \
0                                 NaN
1                                 NaN
2                                 NaN
3                                 NaN
4                                 NaN
5                                 NaN
6                                 NaN
7                                 NaN
8                                 NaN
9                                 NaN
10                                NaN
11                                NaN
12                                NaN
13                                NaN
14                                NaN
15                                NaN
16                                NaN
17                                NaN
18                                NaN
19                                NaN
20                                NaN
21                                NaN
22                                NaN
23                                NaN
24                                NaN
25                                NaN
26                                NaN
27                                NaN
28                                NaN
29                                NaN
30                                NaN
31                                NaN
32                                NaN
33                                NaN
34                                NaN
35                                NaN
36                                NaN
37                                NaN
38                                NaN
39                                NaN
40                                NaN
41                                NaN
42                        234,293,360
43                        379,991,105
44                        204,349,844
45                        858,341,720
46                        236,265,160
47                         52,415,625
48                        113,444,832
49                     35,907,638,989

    % of Collection of OSR\rAgainst Annual Target
0                                             NaN
1                                             NaN
2                                             NaN
3                                             NaN
4                                             NaN
5                                             NaN
6                                             NaN
7                                             NaN
8                                             NaN
9                                             NaN
10                                            NaN
11                                            NaN
12                                            NaN
13                                            NaN
14                                            NaN
15                                            NaN
16                                            NaN
17                                            NaN
18                                            NaN
19                                            NaN
20                                            NaN
21                                            NaN
22                                            NaN
23                                            NaN
24                                            NaN
25                                            NaN
26                                            NaN
27                                            NaN
28                                            NaN
29                                            NaN
30                                            NaN
31                                            NaN
32                                            NaN
33                                            NaN
34                                            NaN
35                                            NaN
36                                            NaN
37                                            NaN
38                                            NaN
39                                            NaN
40                                            NaN
41                                            NaN
42                                           66.9
43                                           71.8
44                                          113.5
45                                           60.7
46                                          101.6
47                                           52.4
48                                           66.7
49                                           59.4
Own Source Revenue Collection_2021_2022_filtered.csv'.

##  Expenditure by Major Economic Classification - FY 2021/22

In [4]:
import tabula
import pandas as pd

# Path to the PDF file
pdf_path = "C:/Users/gorja/Downloads/Counties-Sep-2022-web.pdf"

# Extract tables from the specified pages
tables_page_28 = tabula.read_pdf(pdf_path, pages=28, multiple_tables=True)
tables_page_29 = tabula.read_pdf(pdf_path, pages=29, multiple_tables=True)

# Assuming the relevant table on page 31 is the first one
# Combine the extracted tables from page 32 and the relevant table from page 32
combined_tables = tables_page_28 + [tables_page_29[0]]

# Combine the extracted tables into a single DataFrame
combined_df = pd.concat(combined_tables, ignore_index=True)

# Display the whole DataFrame
pd.set_option('display.max_rows', None)  # Show all rows
pd.set_option('display.max_columns', None)  # Show all columns
print(combined_df)

# Save the combined DataFrame to a CSV file
combined_df.to_csv('Expenditure_by_Major_Economic_Classification_2021_2022.csv', index=False)
print("Filtered DataFrame saved to 'Expenditure_by_Major_Economic_Classification_2021_2022_filtered.csv'.")

             County Recurrent Expenditure (Kshs.)  \
0               NaN        PersonnelEmolu-\rments
1               NaN                             A
2           Baringo                 3,450,297,215
3             Bomet                 3,121,646,889
4           Bungoma                 5,205,871,724
5             Busia                 3,122,046,063
6   Elgeyo Marakwet                 2,534,891,069
7              Embu                 3,038,753,284
8           Garissa                 5,288,457,614
9          Homa Bay                 4,111,201,732
10           Isiolo                 1,632,366,774
11          Kajiado                 3,710,827,358
12         Kakamega                 5,881,178,118
13          Kericho                 3,021,507,388
14           Kiambu                 7,642,930,758
15           Kilifi                 4,316,315,088
16        Kirinyaga                 2,685,963,218
17            Kisii                 5,702,631,700
18           Kisumu                 5,127,435,441
19            Kitui                 4,996,565,079
20            Kwale                 3,419,373,586
21         Laikipia                 2,814,969,584
22             Lamu                 1,528,838,096
23         Machakos                 6,400,178,586
24          Makueni                 3,547,379,878
25          Mandera                 3,295,140,489
26         Marsabit                 2,801,611,546
27             Meru                 5,080,221,641
28           Migori                 3,254,649,814
29          Mombasa                 5,561,531,213
30         Murang'a                 4,362,009,462
31     Nairobi City                14,794,066,094
32           Nakuru                 6,811,152,345
33            Nandi                 3,849,486,012
34            Narok                 4,264,839,019
35          Nyamira                 3,323,342,851
36              NaN        PersonnelEmolu-\rments
37              NaN                             A
38        Nyandarua                 2,494,435,404
39            Nyeri                 3,843,715,293
40          Samburu                 2,293,546,213
41            Siaya                 3,107,987,447
42     Taita Taveta                 2,820,179,212
43       Tana River                 2,123,686,861
44    Tharaka Nithi                 2,198,285,651
45      Trans Nzoia                 3,200,142,358
46          Turkana                 4,599,325,204
47      Uasin Gishu                 3,822,981,507
48           Vihiga                 2,541,724,411
49            Wajir                 4,401,864,681
50       West Pokot                 2,964,438,325
51            Total               190,111,989,295

   Development Ex-\rpenditure (Kshs.    Total Expenditure\r(Kshs.)  \
0          Operations &\rMaintenance  Total Recurrent\rExpenditure
1                                  B                         C=A+B
2                      1,700,450,967                 5,150,748,182
3                      2,036,959,212                 5,158,606,101
4                      3,395,355,333                 8,601,227,057
5                      1,765,735,689                 4,887,781,752
6                        972,298,271                 3,507,189,340
7                      1,182,982,811                 4,221,736,095
8                      1,558,739,654                 6,847,197,268
9                      1,582,909,855                 5,694,111,587
10                     2,127,297,253                 3,759,664,027
11                     1,840,700,684                 5,551,528,042
12                     3,426,683,256                 9,307,861,374
13                     2,036,469,328                 5,057,976,715
14                     2,281,050,904                 9,923,981,662
15                     4,362,071,319                 8,678,386,407
16                     1,648,490,435                 4,334,453,653
17                     2,000,979,430                 7,703,611,130
18                     1,180,420,758                 6,307,856,199
19                     2,589,449,422                 7,586,014,501
20                     3,183,529,547                 6,602,903,133
21                     1,540,242,492                 4,355,212,076
22                     1,166,597,803                 2,695,435,899
23                     2,273,138,970                 8,673,317,557
24                     2,330,806,331                 5,878,186,208
25                     4,273,271,022                 7,568,411,511
26                     1,713,211,963                 4,514,823,509
27                     2,341,780,607                 7,422,002,247
28                     3,368,854,252                 6,623,504,066
29                     1,473,353,281                 7,034,884,494
30                     2,323,898,354                 6,685,907,816
31                    10,515,642,116                25,309,708,210
32                     3,251,293,786                10,062,446,131
33                     1,951,443,981                 5,800,929,993
34                     5,009,922,456                 9,274,761,474
35                     1,193,181,884                 4,516,524,735
36         Operations &\rMaintenance  Total Recurrent\rExpenditure
37                                 B                         C=A+B
38                     2,272,289,203                 4,766,724,607
39                     1,971,400,076                 5,815,115,369
40                     1,740,242,425                 4,033,788,638
41                     2,120,221,909                 5,228,209,356
42                     1,671,767,138                 4,491,946,349
43                     3,117,724,230                 5,241,411,091
44                       979,745,106                 3,178,030,757
45                     2,011,531,242                 5,211,673,599
46                     2,686,116,395                 7,285,441,599
47                     2,587,903,902                 6,410,885,409
48                     1,130,926,989                 3,672,651,400
49                     2,515,735,890                 6,917,600,571
50                     1,976,748,977                 4,941,187,302
51                   112,381,566,908               302,493,556,198

        Unnamed: 0       Unnamed: 1
0              NaN              NaN
1                D            E=C+D
2    1,847,194,402    6,997,942,583
3    1,719,968,378    6,878,574,478
4    1,969,506,954   10,570,734,011
5    1,537,628,130    6,425,409,882
6    1,597,342,232    5,104,531,572
7    1,110,827,995    5,332,564,090
8      978,127,536    7,825,324,804
9    2,189,697,432    7,883,809,019
10   1,172,139,312    4,931,803,339
11   2,118,956,743    7,670,484,785
12   4,550,517,235   13,858,378,609
13   1,822,643,979    6,880,620,694
14   2,885,947,037   12,809,928,699
15   2,116,784,099   10,795,170,506
16   1,623,487,753    5,957,941,406
17   1,887,895,633    9,591,506,763
18   1,175,681,558    7,483,537,756
19   2,728,054,436   10,314,068,937
20   3,184,346,882    9,787,250,015
21   1,862,129,632    6,217,341,708
22   1,042,916,227    3,738,352,126
23   1,317,517,151    9,990,834,707
24   2,571,187,021    8,449,373,229
25   4,027,479,362   11,595,890,873
26   3,245,198,049    7,760,021,558
27   2,585,918,790   10,007,921,037
28   2,115,152,376    8,738,656,442
29   3,474,451,994   10,509,336,488
30   1,374,406,246    8,060,314,062
31   3,024,714,779   28,334,422,989
32   5,499,909,648   15,562,355,779
33   1,809,182,923    7,610,112,916
34   1,338,292,141   10,613,053,615
35   1,327,812,045    5,844,336,780
36             NaN              NaN
37               D            E=C+D
38   1,116,410,916    5,883,135,523
39   1,403,365,761    7,218,481,130
40   1,855,246,816    5,889,035,454
41   1,879,752,735    7,107,962,091
42     822,563,378    5,314,509,728
43   1,927,723,338    7,169,134,429
44   1,132,434,701    4,310,465,458
45   2,591,583,388    7,803,256,987
46   2,491,863,053    9,777,304,653
47   3,781,954,388   10,192,839,797
48     647,138,047    4,319,789,447
49   2,391,604,385    9,309,204,956
50   1,596,706,031    6,537,893,334
51  98,471,363,043  400,964,919,244
Filtered DataFrame saved to 'Expenditure_by_Major_Economic_Classification_2021_2022_filtered.csv'.

## MCAs Budget Allocation, Expenditure and Absorption Rate in FY 2021/22

In [5]:
import tabula
import pandas as pd

# Path to the PDF file
pdf_path = "C:/Users/gorja/Downloads/Counties-Sep-2022-web.pdf"

# Extract tables from the specified pages
tables_page_31 = tabula.read_pdf(pdf_path, pages=31, multiple_tables=True)
tables_page_32 = tabula.read_pdf(pdf_path, pages=32, multiple_tables=True)

# Assuming the relevant table on page 31 is the first one
# Combine the extracted tables from page 32 and the relevant table from page 32
combined_tables = [tables_page_31[0]] + [tables_page_32[0]]

# Combine the extracted tables into a single DataFrame
combined_df = pd.concat(combined_tables, ignore_index=True)

# Display the whole DataFrame
pd.set_option('display.max_rows', None)  # Show all rows
pd.set_option('display.max_columns', None)  # Show all columns
print(combined_df)

# Save the combined DataFrame to a CSV file
combined_df.to_csv('MCAs Budget Allocation, Expenditure and absorption Rate_2021_2022.csv', index=False)
print("MCAs Budget Allocation, Expenditure and absorption Rate_2021_2022_filtered.csv'.")

         Unnamed: 0   Unnamed: 1   Unnamed: 2  Unnamed: 3  Unnamed: 4  \
0               NaN       Budget  Expenditure  Absorption         NaN
1            County          NaN          NaN         NaN         NaN
2               NaN      (Kshs.)      (Kshs.)         (%)         NaN
3               NaN            A            B   C=B/A*100         NaN
4           Baringo   58,364,274   25,920,700        44.4         NaN
5             Bomet   27,630,578   27,630,578       100.0         NaN
6           Bungoma   26,121,600   21,614,187        82.7         NaN
7             Busia   75,593,600   58,993,600        78.0         NaN
8   Elgeyo Marakwet   43,500,000   43,437,354        99.9         NaN
9              Embu   29,000,000   24,777,200        85.4         NaN
10          Garissa   44,907,867   33,985,292        75.7         NaN
11         Homa Bay  117,715,200  101,509,337        86.2         NaN
12           Isiolo   15,669,258   15,669,258       100.0         NaN
13              NaN          NaN          NaN         NaN         NaN
14              NaN          NaN          NaN         NaN         NaN
15              NaN          NaN          NaN         NaN         NaN
16              NaN          NaN          NaN         NaN         NaN
17              NaN          NaN          NaN         NaN         NaN
18              NaN          NaN          NaN         NaN         NaN
19              NaN          NaN          NaN         NaN         NaN
20              NaN          NaN          NaN         NaN         NaN
21              NaN          NaN          NaN         NaN         NaN
22              NaN          NaN          NaN         NaN         NaN
23              NaN          NaN          NaN         NaN         NaN
24              NaN          NaN          NaN         NaN         NaN
25              NaN          NaN          NaN         NaN         NaN
26              NaN          NaN          NaN         NaN         NaN
27              NaN          NaN          NaN         NaN         NaN
28              NaN          NaN          NaN         NaN         NaN
29              NaN          NaN          NaN         NaN         NaN
30              NaN          NaN          NaN         NaN         NaN
31              NaN          NaN          NaN         NaN         NaN
32              NaN          NaN          NaN         NaN         NaN
33              NaN          NaN          NaN         NaN         NaN
34              NaN          NaN          NaN         NaN         NaN
35              NaN          NaN          NaN         NaN         NaN
36              NaN          NaN          NaN         NaN         NaN
37              NaN          NaN          NaN         NaN         NaN
38              NaN          NaN          NaN         NaN         NaN
39              NaN          NaN          NaN         NaN         NaN
40              NaN          NaN          NaN         NaN         NaN
41              NaN          NaN          NaN         NaN         NaN
42              NaN          NaN          NaN         NaN         NaN
43              NaN          NaN          NaN         NaN         NaN
44              NaN          NaN          NaN         NaN         NaN
45              NaN          NaN          NaN         NaN         NaN
46              NaN          NaN          NaN         NaN         NaN
47              NaN          NaN          NaN         NaN         NaN
48              NaN          NaN          NaN         NaN         NaN
49              NaN          NaN          NaN         NaN         NaN
50              NaN          NaN          NaN         NaN         NaN
51              NaN          NaN          NaN         NaN         NaN
52              NaN          NaN          NaN         NaN         NaN
53              NaN          NaN          NaN         NaN         NaN

                   Average monthly         County         Budget  \
0   sitting allowance No. of MCA's            NaN            NaN
1                          per MCA            NaN            NaN
2                          (Kshs.)            NaN            NaN
3                        D E=B/D/3            NaN            NaN
4                        46 46,958            NaN            NaN
5                        37 62,231            NaN            NaN
6                        61 29,528            NaN            NaN
7                        54 91,040            NaN            NaN
8                       34 106,464            NaN            NaN
9                        35 58,993            NaN            NaN
10                       51 55,532            NaN            NaN
11                      61 138,674            NaN            NaN
12                       18 72,543            NaN            NaN
13                             NaN            NaN        (Kshs.)
14                             NaN            NaN              A
15                             NaN        Kajiado     10,000,000
16                             NaN       Kakamega    133,286,400
17                             NaN        Kericho     46,003,200
18                             NaN         Kiambu    120,000,000
19                             NaN         Kilifi     72,965,066
20                             NaN      Kirinyaga     61,846,400
21                             NaN          Kisii    107,420,000
22                             NaN         Kisumu     47,089,076
23                             NaN          Kitui     53,271,200
24                             NaN          Kwale     42,001,592
25                             NaN       Laikipia     32,565,600
26                             NaN           Lamu     20,952,000
27                             NaN       Machakos     56,638,868
28                             NaN        Makueni     78,549,432
29                             NaN        Mandera     25,000,000
30                             NaN       Marsabit     35,000,000
31                             NaN           Meru    104,476,926
32                             NaN         Migori    109,516,800
33                             NaN        Mombasa     40,000,000
34                             NaN       Murang'a     68,000,000
35                             NaN   Nairobi City     85,733,635
36                             NaN         Nakuru     73,527,000
37                             NaN          Nandi     53,557,481
38                             NaN          Narok     57,614,000
39                             NaN        Nyamira     55,892,800
40                             NaN      Nyandarua     31,350,016
41                             NaN          Nyeri     50,668,800
42                             NaN        Samburu     22,400,000
43                             NaN          Siaya     43,134,254
44                             NaN   Taita Taveta     21,792,318
45                             NaN     Tana River     18,125,000
46                             NaN  Tharaka Nithi     28,644,000
47                             NaN    Trans Nzoia     40,853,610
48                             NaN        Turkana     36,000,000
49                             NaN    Uasin Gishu     36,689,000
50                             NaN         Vihiga     66,643,200
51                             NaN          Wajir     12,776,400
52                             NaN     West Pokot     29,288,328
53                             NaN          Total  2,467,774,779

      Expenditure Absorption No. of MCA's  \
0             NaN        NaN          NaN
1             NaN        NaN          NaN
2             NaN        NaN          NaN
3             NaN        NaN          NaN
4             NaN        NaN          NaN
5             NaN        NaN          NaN
6             NaN        NaN          NaN
7             NaN        NaN          NaN
8             NaN        NaN          NaN
9             NaN        NaN          NaN
10            NaN        NaN          NaN
11            NaN        NaN          NaN
12            NaN        NaN          NaN
13        (Kshs.)        (%)      (Kshs.)
14              B  C=B/A*100            D
15      8,133,102       81.3           42
16    133,288,400      100.0           90
17     46,003,200      100.0           48
18     53,769,300       44.8           93
19     71,000,000       97.3           55
20     33,729,200       54.5           34
21    107,419,160      100.0           71
22     45,640,301       96.9           49
23     35,704,434       67.0           55
24     42,001,592      100.0           31
25     16,757,000       51.5           25
26     13,588,500       64.9           19
27     62,713,600      110.7           61
28     57,674,271       73.4           39
29     15,768,900       63.1           49
30     27,774,469       79.4           31
31     79,753,070       76.3           69
32    109,516,800      100.0           57
33     28,406,700       71.0           43
34     56,238,685       82.7           54
35     85,274,600       99.5          124
36     73,526,775      100.0           73
37     22,051,600       41.2           40
38     34,581,300       60.0           48
39     47,869,887       85.6           37
40     29,205,365       93.2           40
41     31,748,600       62.7           45
42     17,388,040       77.6           28
43     42,435,000       98.4           43
44     21,383,700       98.1           34
45     17,424,000       96.1           24
46     19,643,750       68.6           21
47     24,255,800       59.4           40
48     20,839,540       57.9           48
49     36,689,000      100.0           48
50     42,015,028       63.0           39
51     12,772,400      100.0           50
52     29,288,328      100.0           34
53  2,006,810,903       81.3         2228

   Average monthly\rsitting allowance\rper MCA
0                                          NaN
1                                          NaN
2                                          NaN
3                                          NaN
4                                          NaN
5                                          NaN
6                                          NaN
7                                          NaN
8                                          NaN
9                                          NaN
10                                         NaN
11                                         NaN
12                                         NaN
13                                         NaN
14                                     E=B/D/3
15                                      16,137
16                                     123,415
17                                      79,867
18                                      48,180
19                                     107,576
20                                      82,670
21                                     126,079
22                                      77,620
23                                      54,098
24                                     112,908
25                                      55,857
26                                      59,599
27                                      85,674
28                                     123,236
29                                      26,818
30                                      74,663
31                                      96,320
32                                     160,112
33                                      55,052
34                                      86,788
35                                      57,308
36                                      83,935
37                                      45,941
38                                      60,037
39                                     107,815
40                                      60,845
41                                      58,794
42                                      51,750
43                                      82,238
44                                      52,411
45                                      60,500
46                                      77,951
47                                      50,533
48                                      36,180
49                                      63,696
50                                      89,776
51                                      21,287
52                                      71,785
53                                      75,060
MCAs Budget Allocation, Expenditure and absorption Rate_2021_2022_filtered.csv'.

## Pending Bills for the Counties as of June 30, 2022

In [9]:
import tabula
import pandas as pd

# Path to the PDF file
pdf_path = "C:/Users/gorja/Downloads/Counties-Sep-2022-web.pdf"

# Extract tables from the specified pages
tables_page_33 = tabula.read_pdf(pdf_path, pages=33, multiple_tables=True)
tables_page_34 = tabula.read_pdf(pdf_path, pages=34, multiple_tables=True)

# Check if tables were extracted and handle empty cases
if tables_page_33 and tables_page_34:
    # Assuming the relevant tables are the first ones on each page
    table_33 = tables_page_33[0]
    table_34 = tables_page_34[0]
    
    # Combine the extracted tables into a single DataFrame
    combined_df = pd.concat([table_33, table_34], ignore_index=True)
    
    # Select only the first and last columns
    filtered_df = combined_df.iloc[:, [0, -1]]
    
    # Display the filtered DataFrame
    pd.set_option('display.max_rows', None)  # Show all rows
    pd.set_option('display.max_columns', None)  # Show all columns
    print(filtered_df)
    
    # Save the filtered DataFrame to a CSV file
    output_path = 'Pending_Bills_for_the_Counties_as_of_June_2021_2022_filtered.csv'
    filtered_df.to_csv(output_path, index=False)
    print(f"Filtered DataFrame saved to '{output_path}'.")
else:
    print("No tables found on page 33 or 34.")

       Unnamed: 0 GrandTotal\r(Kshs.)
0          County                 NaN
1             NaN                 NaN
2             NaN                 NaN
3             NaN                 NaN
4         Baringo                 NaN
5           Bomet                 NaN
6         Bungoma                 NaN
7           Busia                 NaN
8   Elgeyo Marak-                 NaN
9             NaN                 NaN
10            wet                 NaN
11           Embu                 NaN
12        Garissa                 NaN
13       Homa Bay                 NaN
14         Isiolo                 NaN
15        Kajiado                 NaN
16       Kakamega                 NaN
17        Kericho                 NaN
18         Kiambu                 NaN
19         Kilifi                 NaN
20      Kirinyaga                 NaN
21          Kisii                 NaN
22         Kisumu                 NaN
23          Kitui                 NaN
24          Kwale                 NaN
25       Laikipia                 NaN
26           Lamu                 NaN
27       Machakos                 NaN
28        Makueni                 NaN
29        Mandera                 NaN
30       Marsabit                 NaN
31           Meru                 NaN
32         Migori                 NaN
33        Mombasa                 NaN
34       Murang'a                 NaN
35   Nairobi City                 NaN
36         Nakuru                 NaN
37          Nandi                 NaN
38          Narok                 NaN
39        Nyamira                 NaN
40      Nyandarua                 NaN
41          Nyeri                 NaN
42        Samburu                 NaN
43      Recurrent           Sub-Total
44              D               C=A+B
45      5,685,824         738,820,184
46     29,815,650         991,354,091
47              -         970,020,000
48     18,438,281         501,576,060
49              -       2,859,856,980
50     26,115,914       2,248,181,831
51     21,112,773         536,268,391
52            NaN         564,400,503
53              -       3,468,515,746
54              -         458,509,112
55    722,143,361     151,681,748,544
Filtered DataFrame saved to 'Pending_Bills_for_the_Counties_as_of_June_2021_2022_filtered.csv'.

## County Budget Allocation, Expenditure and Absorption Rate for the FY 2021/22

In [10]:
import tabula
import pandas as pd

# Path to the PDF file
pdf_path = "C:/Users/gorja/Downloads/Counties-Sep-2022-web.pdf"

# Extract tables from the specified pages
tables_page_29 = tabula.read_pdf(pdf_path, pages=29, multiple_tables=True)
tables_page_30 = tabula.read_pdf(pdf_path, pages=30, multiple_tables=True)

# Assuming the relevant table on page 31 is the first one
# Combine the extracted tables from page 32 and the relevant table from page 32
combined_tables = [tables_page_29[1]] + [tables_page_30[0]]

# Combine the extracted tables into a single DataFrame
combined_df = pd.concat(combined_tables, ignore_index=True)

# Display the whole DataFrame
pd.set_option('display.max_rows', None)  # Show all rows
pd.set_option('display.max_columns', None)  # Show all columns
print(combined_df)

# Save the combined DataFrame to a CSV file
combined_df.to_csv('County_Budget_Allocation_Expenditure_and_absorption Rate_2021_2022.csv', index=False)
print("Filtered DataFrame saved to 'County_Budget_Allocation_Expenditure_and_absorption Rate_2021_2022_filtered.csv'.")

               County Budget Estimates (Kshs. Million)  \
0                 NaN                              Rec
1                 NaN                                A
2             Baringo                         5,415.43
3               Bomet                         5,842.23
4             Bungoma                         9,974.99
5               Busia                         5,681.53
6   Elgeyo/\rMarakwet                         3,700.80
7                Embu                         4,750.39
8             Garissa                         7,096.95
9            Homa Bay                         6,350.27
10                NaN                              NaN
11                NaN                              NaN
12                NaN                        Dev Total
13                NaN                              NaN
14                NaN                          B C=A+B
15                NaN       4,169.53 2,198.31 6,367.84
16                NaN      7,451.72 3,570.37 11,022.09
17                NaN               6,198.03 16,400.24
18                NaN       5,299.72 3,104.29 8,404.00
19                NaN               4,869.66 17,506.87
20                NaN      9,981.52 5,971.31 15,952.83
21                NaN       4,531.06 3,174.27 7,705.33
22                NaN      8,498.97 4,091.72 12,590.70
23                NaN      8,451.05 3,726.80 12,177.85
24                NaN      8,327.23 4,141.51 12,468.74
25                NaN      6,986.72 5,778.92 12,765.64
26                NaN       4,966.83 3,911.73 8,878.56
27                NaN       3,115.71 1,881.67 4,997.38
28                NaN      9,051.33 4,038.39 13,089.72
29                NaN      7,269.88 4,274.95 11,544.84
30                NaN      7,840.82 5,442.85 13,283.67
31                NaN       4,745.54 4,586.00 9,331.54
32                NaN      8,387.69 4,153.46 12,541.15
33                NaN      6,690.49 3,753.53 10,444.02
34                NaN               9,388.90 19,557.05
35                NaN      7,372.37 3,296.19 10,668.56
36                NaN                              NaN
37                NaN              10,333.96 39,627.54
38                NaN                              NaN
39                NaN              10,662.94 23,513.99
40                NaN       6,019.80 2,945.75 8,965.55
41                NaN      9,344.77 4,007.34 13,352.11
42                NaN       4,778.83 2,053.79 6,832.62
43                NaN       5,223.94 2,808.58 8,032.51
44                NaN       6,097.46 2,635.80 8,733.27
45                NaN       4,653.65 2,723.89 7,377.54
46                NaN       5,624.76 3,345.54 8,970.29
47                NaN                              NaN
48                NaN       4,662.91 2,492.70 7,155.61
49                NaN                              NaN
50                NaN       5,510.90 2,973.82 8,484.71
51                NaN                              NaN
52                NaN       3,987.11 1,924.15 5,911.26
53                NaN                              NaN
54                NaN                              NaN
55                NaN       5,254.43 4,050.87 9,305.30
56                NaN                              NaN
57                NaN      9,880.51 6,308.33 16,188.84
58                NaN                              NaN
59                NaN      7,103.02 6,110.64 13,213.66
60                NaN                              NaN
61                NaN       4,475.23 1,933.65 6,408.88
62                NaN      7,341.86 4,243.70 11,585.56
63                NaN       5,150.59 2,521.09 7,671.68
64                NaN            193,529.00 535,741.71

    Expenditure (Kshs. Million) Recurrent\rAbsorption\rRate (%)  \
0                           Dev                           Total
1                             B                           C=A+B
2                      4,205.19                        9,620.63
3                      2,961.02                        8,803.24
4                      4,479.38                       14,454.36
5                      4,548.85                       10,230.38
6                      2,858.56                        6,559.35
7                      2,168.72                        6,919.11
8                      3,343.79                       10,440.74
9                      3,334.09                        9,684.36
10                          NaN                             NaN
11                          NaN                             NaN
12                    Dev Total                             NaN
13                          NaN                             NaN
14                      E F=D+E                             NaN
15   3,759.66 1,172.14 4,931.80                             NaN
16   5,551.53 2,118.96 7,670.48                             NaN
17  9,307.86 4,550.52 13,858.38                             NaN
18   5,057.98 1,822.64 6,880.62                             NaN
19  9,923.98 2,885.95 12,809.93                             NaN
20  8,678.39 2,116.78 10,795.17                             NaN
21   4,334.45 1,623.49 5,957.94                             NaN
22   7,703.61 1,887.90 9,591.51                             NaN
23   6,307.86 1,175.68 7,483.54                             NaN
24  7,586.01 2,728.05 10,314.07                             NaN
25   6,602.90 3,184.35 9,787.25                             NaN
26   4,355.21 1,862.13 6,217.34                             NaN
27   2,695.44 1,042.92 3,738.35                             NaN
28   8,673.32 1,317.52 9,990.83                             NaN
29   5,878.19 2,571.19 8,449.37                             NaN
30  7,568.41 4,027.48 11,595.89                             NaN
31   4,514.82 3,245.20 7,760.02                             NaN
32  7,422.00 2,585.92 10,007.92                             NaN
33   6,623.50 2,115.15 8,738.66                             NaN
34  7,034.88 3,474.45 10,509.34                             NaN
35   6,685.91 1,374.41 8,060.31                             NaN
36                          NaN                             NaN
37           3,024.71 28,334.42                             NaN
38                          NaN                             NaN
39           5,499.91 15,562.36                             NaN
40   5,800.93 1,809.18 7,610.11                             NaN
41  9,274.76 1,338.29 10,613.05                             NaN
42   4,516.52 1,327.81 5,844.34                             NaN
43   4,766.72 1,116.41 5,883.14                             NaN
44   5,815.12 1,403.37 7,218.48                             NaN
45   4,033.79 1,855.25 5,889.04                             NaN
46   5,228.21 1,879.75 7,107.96                             NaN
47                          NaN                             NaN
48     4,491.95 822.56 5,314.51                             NaN
49                          NaN                             NaN
50   5,241.41 1,927.72 7,169.13                             NaN
51                          NaN                             NaN
52   3,178.03 1,132.43 4,310.47                             NaN
53                          NaN                             NaN
54                          NaN                             NaN
55   5,211.67 2,591.58 7,803.26                             NaN
56                          NaN                             NaN
57   7,285.44 2,491.86 9,777.30                             NaN
58                          NaN                             NaN
59  6,410.89 3,781.95 10,192.84                             NaN
60                          NaN                             NaN
61     3,672.65 647.14 4,319.79                             NaN
62   6,917.60 2,391.60 9,309.20                             NaN
63   4,941.19 1,596.71 6,537.89                             NaN
64         98,471.36 400,964.88                             NaN

   Development\rAbsorption\rRate (%) Overall Ab-\rsorption Rate\r(%)  \
0                                Rec                             Dev
1                                  D                               E
2                           5,150.75                        1,847.19
3                           5,158.61                        1,719.97
4                           8,601.23                        1,969.51
5                           4,887.78                        1,537.63
6                           3507.189                        1597.342
7                           4,221.74                        1,110.83
8                           6,847.20                          978.13
9                           5,694.11                        2,189.70
10                               NaN                             NaN
11                               NaN                             NaN
12                               NaN                             NaN
13                               NaN                             NaN
14                               NaN                             NaN
15                               NaN                             NaN
16                               NaN                             NaN
17                               NaN                             NaN
18                               NaN                             NaN
19                               NaN                             NaN
20                               NaN                             NaN
21                               NaN                             NaN
22                               NaN                             NaN
23                               NaN                             NaN
24                               NaN                             NaN
25                               NaN                             NaN
26                               NaN                             NaN
27                               NaN                             NaN
28                               NaN                             NaN
29                               NaN                             NaN
30                               NaN                             NaN
31                               NaN                             NaN
32                               NaN                             NaN
33                               NaN                             NaN
34                               NaN                             NaN
35                               NaN                             NaN
36                               NaN                             NaN
37                               NaN                             NaN
38                               NaN                             NaN
39                               NaN                             NaN
40                               NaN                             NaN
41                               NaN                             NaN
42                               NaN                             NaN
43                               NaN                             NaN
44                               NaN                             NaN
45                               NaN                             NaN
46                               NaN                             NaN
47                               NaN                             NaN
48                               NaN                             NaN
49                               NaN                             NaN
50                               NaN                             NaN
51                               NaN                             NaN
52                               NaN                             NaN
53                               NaN                             NaN
54                               NaN                             NaN
55                               NaN                             NaN
56                               NaN                             NaN
57                               NaN                             NaN
58                               NaN                             NaN
59                               NaN                             NaN
60                               NaN                             NaN
61                               NaN                             NaN
62                               NaN                             NaN
63                               NaN                             NaN
64                               NaN                             NaN

    Unnamed: 0  Unnamed: 1  Unnamed: 2  Unnamed: 3   Unnamed: 4     Unnamed: 5
0        Total         NaN         NaN         NaN          NaN            NaN
1        F=D+E   G=D/A*100   H=E/B*100   I=F/C*100          NaN            NaN
2     6,997.94        95.1        43.9        72.7          NaN            NaN
3     6,878.57        88.3        58.1        78.1          NaN            NaN
4    10,570.73        86.2        44.0        73.1          NaN            NaN
5     6,425.41        86.0        33.8        62.8          NaN            NaN
6     5104.532        94.8        55.9        77.8          NaN            NaN
7     5,332.56        88.9        51.2        77.1          NaN            NaN
8     7,825.32        96.5        29.3        74.9          NaN            NaN
9     7,883.81        89.7        65.7        81.4          NaN            NaN
10         NaN         NaN         NaN   Recurrent  Development    Overall Ab-
11         NaN         NaN         NaN  Absorption   Absorption  sorption Rate
12      County         Rec         Rec    Rate (%)     Rate (%)            (%)
13         NaN         NaN         NaN         NaN          NaN            NaN
14         NaN           A           D   G=D/A*100    H=E/B*100      I=F/C*100
15      Isiolo         NaN         NaN        90.2         53.3           77.4
16     Kajiado         NaN         NaN        74.5         59.3           69.6
17    Kakamega   10,202.21         NaN        91.2         73.4           84.5
18     Kericho         NaN         NaN        95.4         58.7           81.9
19      Kiambu   12,637.21         NaN        78.5         59.3           73.2
20      Kilifi         NaN         NaN        86.9         35.4           67.7
21   Kirinyaga         NaN         NaN        95.7         51.1           77.3
22       Kisii         NaN         NaN        90.6         46.1           76.2
23      Kisumu         NaN         NaN        74.6         31.5           61.5
24       Kitui         NaN         NaN        91.1         65.9           82.7
25       Kwale         NaN         NaN        94.5         55.1           76.7
26    Laikipia         NaN         NaN        87.7         47.6           70.0
27        Lamu         NaN         NaN        86.5         55.4           74.8
28    Machakos         NaN         NaN        95.8         32.6           76.3
29     Makueni         NaN         NaN        80.9         60.1           73.2
30     Mandera         NaN         NaN        96.5         74.0           87.3
31    Marsabit         NaN         NaN        95.1         70.8           83.2
32        Meru         NaN         NaN        88.5         62.3           79.8
33      Migori         NaN         NaN        99.0         56.4           83.7
34     Mombasa   10,168.15         NaN        69.2         37.0           53.7
35    Murang'a         NaN         NaN        90.7         41.7           75.6
36     Nairobi         NaN         NaN         NaN          NaN            NaN
37         NaN   29,293.58   25,309.71        86.4         29.3           71.5
38        City         NaN         NaN         NaN          NaN            NaN
39      Nakuru   12,851.05   10,062.45        78.3         51.6           66.2
40       Nandi         NaN         NaN        96.4         61.4           84.9
41       Narok         NaN         NaN        99.3         33.4           79.5
42     Nyamira         NaN         NaN        94.5         64.7           85.5
43   Nyandarua         NaN         NaN        91.2         39.8           73.2
44       Nyeri         NaN         NaN        95.4         53.2           82.7
45     Samburu         NaN         NaN        86.7         68.1           79.8
46       Siaya         NaN         NaN        92.9         56.2           79.2
47  Taita/Tav-         NaN         NaN         NaN          NaN            NaN
48         NaN         NaN         NaN        96.3         33.0           74.3
49         eta         NaN         NaN         NaN          NaN            NaN
50  Tana River         NaN         NaN        95.1         64.8           84.5
51     Tharaka         NaN         NaN         NaN          NaN            NaN
52         NaN         NaN         NaN        79.7         58.9           72.9
53      -Nithi         NaN         NaN         NaN          NaN            NaN
54       Trans         NaN         NaN         NaN          NaN            NaN
55         NaN         NaN         NaN        99.2         64.0           83.9
56       Nzoia         NaN         NaN         NaN          NaN            NaN
57     Turkana         NaN         NaN        73.7         39.5           60.4
58       Uasin         NaN         NaN         NaN          NaN            NaN
59         NaN         NaN         NaN        90.3         61.9           77.1
60       Gishu         NaN         NaN         NaN          NaN            NaN
61      Vihiga         NaN         NaN        82.1         33.5           67.4
62       Wajir         NaN         NaN        94.2         56.4           80.4
63  West Pokot         NaN         NaN        95.9         63.3           85.2
64       Total  342,212.74  302,493.56        88.4         50.9           74.8
Filtered DataFrame saved to 'County_Budget_Allocation_Expenditure_and_absorption Rate_2021_2022_filtered.csv'.

## DATA CLEANING

In [27]:
import pandas as pd

# Load the data
input_path = "C:/Users/gorja/OneDrive/Documents/Desktop/Counties Project/County_Budget_Allocation_Expenditure_and_absorption Rate_2021_2022.csv"
df = pd.read_csv(input_path)

# Display the first few rows of the DataFrame
print("Initial DataFrame:")
print(df.head(50))

# Display data types
print("\nData types:")
print(df.dtypes)

Initial DataFrame:
               County           A           B       C=A+B  \
0             Baringo    5,415.43    4,205.19    9,620.63
1               Bomet    5,842.23    2,961.02    8,803.24
2             Bungoma    9,974.99    4,479.38   14,454.36
3               Busia    5,681.53    4,548.85   10,230.38
4   Elgeyo/\rMarakwet    3,700.80    2,858.56    6,559.35
5                Embu    4,750.39    2,168.72    6,919.11
6             Garissa    7,096.95    3,343.79   10,440.74
7            Homa Bay    6,350.27    3,334.09    9,684.36
8              Isiolo    4,169.53    2,198.31    6,367.84
9             Kajiado    7,451.72    3,570.37   11,022.09
10           Kakamega    6,198.03   16,400.24         NaN
11            Kericho    5,299.72    3,104.29    8,404.00
12             Kiambu    4,869.66   17,506.87         NaN
13             Kilifi    9,981.52    5,971.31   15,952.83
14          Kirinyaga    4,531.06    3,174.27    7,705.33
15              Kisii    8,498.97    4,091.72   12,590.70
16             Kisumu    8,451.05    3,726.80   12,177.85
17              Kitui    8,327.23    4,141.51   12,468.74
18              Kwale    6,986.72    5,778.92   12,765.64
19           Laikipia    4,966.83    3,911.73    8,878.56
20               Lamu    3,115.71    1,881.67    4,997.38
21           Machakos    9,051.33    4,038.39   13,089.72
22            Makueni    7,269.88    4,274.95   11,544.84
23            Mandera    7,840.82    5,442.85   13,283.67
24           Marsabit    4,745.54    4,586.00    9,331.54
25               Meru    8,387.69    4,153.46   12,541.15
26             Migori    6,690.49    3,753.53   10,444.02
27            Mombasa    9,388.90   19,557.05         NaN
28           Murang'a    7,372.37    3,296.19   10,668.56
29       Nairobi City   10,333.96   39,627.54         NaN
30             Nakuru   10,662.94   23,513.99         NaN
31              Nandi    6,019.80    2,945.75    8,965.55
32              Narok    9,344.77    4,007.34   13,352.11
33            Nyamira    4,778.83    2,053.79    6,832.62
34          Nyandarua    5,223.94    2,808.58    8,032.51
35              Nyeri    6,097.46    2,635.80    8,733.27
36            Samburu    4,653.65    2,723.89    7,377.54
37              Siaya    5,624.76    3,345.54    8,970.29
38       Taita/Taveta    4,662.91    2,492.70    7,155.61
39         Tana River    5,510.90    2,973.82    8,484.71
40      Tharaka Nithi    3,987.11    1,924.15    5,911.26
41        Trans Nzoia    5,254.43    4,050.87    9,305.30
42            Turkana    9,880.51    6,308.33   16,188.84
43        Uasin Gishu    7,103.02    6,110.64   13,213.66
44             Vihiga    4,475.23    1,933.65    6,408.88
45              Wajir    7,341.86    4,243.70   11,585.56
46         West Pokot    5,150.59    2,521.09    7,671.68
47              Total  342,212.74  193,529.00  535,741.71
48                NaN         NaN         NaN         NaN
49                NaN         NaN         NaN         NaN

                              D         E  Recurrent \nAbsorption \nRate (%)  \
0                      5,150.75  1,847.19                               95.1
1                      5,158.61  1,719.97                               88.3
2                      8,601.23  1,969.51                               86.2
3                      4,887.78  1,537.63                               86.0
4                      3507.189  1597.342                               94.8
5                      4,221.74  1,110.83                               88.9
6                      6,847.20    978.13                               96.5
7                      5,694.11  2,189.70                               89.7
8    3,759.66 1,172.14 4,931.80       NaN                               90.2
9    5,551.53 2,118.96 7,670.48       NaN                               74.5
10  9,307.86 4,550.52 13,858.38       NaN                               91.2
11   5,057.98 1,822.64 6,880.62       NaN                               95.4
12  9,923.98 2,885.95 12,809.93       NaN                               78.5
13  8,678.39 2,116.78 10,795.17       NaN                               86.9
14   4,334.45 1,623.49 5,957.94       NaN                               95.7
15   7,703.61 1,887.90 9,591.51       NaN                               90.6
16   6,307.86 1,175.68 7,483.54       NaN                               74.6
17  7,586.01 2,728.05 10,314.07       NaN                               91.1
18   6,602.90 3,184.35 9,787.25       NaN                               94.5
19   4,355.21 1,862.13 6,217.34       NaN                               87.7
20   2,695.44 1,042.92 3,738.35       NaN                               86.5
21   8,673.32 1,317.52 9,990.83       NaN                               95.8
22   5,878.19 2,571.19 8,449.37       NaN                               80.9
23  7,568.41 4,027.48 11,595.89       NaN                               96.5
24   4,514.82 3,245.20 7,760.02       NaN                               95.1
25  7,422.00 2,585.92 10,007.92       NaN                               88.5
26   6,623.50 2,115.15 8,738.66       NaN                               99.0
27  7,034.88 3,474.45 10,509.34       NaN                               69.2
28   6,685.91 1,374.41 8,060.31       NaN                               90.7
29           3,024.71 28,334.42       NaN                               86.4
30           5,499.91 15,562.36       NaN                               78.3
31   5,800.93 1,809.18 7,610.11       NaN                               96.4
32  9,274.76 1,338.29 10,613.05       NaN                               99.3
33   4,516.52 1,327.81 5,844.34       NaN                               94.5
34   4,766.72 1,116.41 5,883.14       NaN                               91.2
35   5,815.12 1,403.37 7,218.48       NaN                               95.4
36   4,033.79 1,855.25 5,889.04       NaN                               86.7
37   5,228.21 1,879.75 7,107.96       NaN                               92.9
38     4,491.95 822.56 5,314.51       NaN                               96.3
39   5,241.41 1,927.72 7,169.13       NaN                               95.1
40   3,178.03 1,132.43 4,310.47       NaN                               79.7
41   5,211.67 2,591.58 7,803.26       NaN                               99.2
42   7,285.44 2,491.86 9,777.30       NaN                               73.7
43  6,410.89 3,781.95 10,192.84       NaN                               90.3
44     3,672.65 647.14 4,319.79       NaN                               82.1
45   6,917.60 2,391.60 9,309.20       NaN                               94.2
46   4,941.19 1,596.71 6,537.89       NaN                               95.9
47         98,471.36 400,964.88       NaN                               88.4
48                          NaN       NaN                                NaN
49                          NaN       NaN                                NaN

    Development \nAbsorption \nRate (%)  Overall Ab\nsorption Rate\n (%)
0                                  43.9                             72.7
1                                  58.1                             78.1
2                                  44.0                             73.1
3                                  33.8                             62.8
4                                  55.9                             77.8
5                                  51.2                             77.1
6                                  29.3                             74.9
7                                  65.7                             81.4
8                                  53.3                             77.4
9                                  59.3                             69.6
10                                 73.4                             84.5
11                                 58.7                             81.9
12                                 59.3                             73.2
13                                 35.4                             67.7
14                                 51.1                             77.3
15                                 46.1                             76.2
16                                 31.5                             61.5
17                                 65.9                             82.7
18                                 55.1                             76.7
19                                 47.6                             70.0
20                                 55.4                             74.8
21                                 32.6                             76.3
22                                 60.1                             73.2
23                                 74.0                             87.3
24                                 70.8                             83.2
25                                 62.3                             79.8
26                                 56.4                             83.7
27                                 37.0                             53.7
28                                 41.7                             75.6
29                                 29.3                             71.5
30                                 51.6                             66.2
31                                 61.4                             84.9
32                                 33.4                             79.5
33                                 64.7                             85.5
34                                 39.8                             73.2
35                                 53.2                             82.7
36                                 68.1                             79.8
37                                 56.2                             79.2
38                                 33.0                             74.3
39                                 64.8                             84.5
40                                 58.9                             72.9
41                                 64.0                             83.9
42                                 39.5                             60.4
43                                 61.9                             77.1
44                                 33.5                             67.4
45                                 56.4                             80.4
46                                 63.3                             85.2
47                                 50.9                             74.8
48                                  NaN                              NaN
49                                  NaN                              NaN

Data types:
County                                  object
A                                       object
B                                       object
C=A+B                                   object
D                                       object
E                                       object
Recurrent \nAbsorption \nRate (%)      float64
Development \nAbsorption \nRate (%)    float64
Overall Ab\nsorption Rate\n (%)        float64
dtype: object

In [28]:
#Handling mising values
# Fill missing values with 0
df.fillna(0, inplace=True)

In [29]:
# check missing values:
# Check for missing values using isnull()
missing_values = df.isnull()

# Display the resulting DataFrame
print(missing_values)

    County      A      B  C=A+B      D      E  \
0    False  False  False  False  False  False
1    False  False  False  False  False  False
2    False  False  False  False  False  False
3    False  False  False  False  False  False
4    False  False  False  False  False  False
5    False  False  False  False  False  False
6    False  False  False  False  False  False
7    False  False  False  False  False  False
8    False  False  False  False  False  False
9    False  False  False  False  False  False
10   False  False  False  False  False  False
11   False  False  False  False  False  False
12   False  False  False  False  False  False
13   False  False  False  False  False  False
14   False  False  False  False  False  False
15   False  False  False  False  False  False
16   False  False  False  False  False  False
17   False  False  False  False  False  False
18   False  False  False  False  False  False
19   False  False  False  False  False  False
20   False  False  False  False  False  False
21   False  False  False  False  False  False
22   False  False  False  False  False  False
23   False  False  False  False  False  False
24   False  False  False  False  False  False
25   False  False  False  False  False  False
26   False  False  False  False  False  False
27   False  False  False  False  False  False
28   False  False  False  False  False  False
29   False  False  False  False  False  False
30   False  False  False  False  False  False
31   False  False  False  False  False  False
32   False  False  False  False  False  False
33   False  False  False  False  False  False
34   False  False  False  False  False  False
35   False  False  False  False  False  False
36   False  False  False  False  False  False
37   False  False  False  False  False  False
38   False  False  False  False  False  False
39   False  False  False  False  False  False
40   False  False  False  False  False  False
41   False  False  False  False  False  False
42   False  False  False  False  False  False
43   False  False  False  False  False  False
44   False  False  False  False  False  False
45   False  False  False  False  False  False
46   False  False  False  False  False  False
47   False  False  False  False  False  False
48   False  False  False  False  False  False
49   False  False  False  False  False  False
50   False  False  False  False  False  False
51   False  False  False  False  False  False
52   False  False  False  False  False  False
53   False  False  False  False  False  False
54   False  False  False  False  False  False
55   False  False  False  False  False  False
56   False  False  False  False  False  False
57   False  False  False  False  False  False

    Recurrent \nAbsorption \nRate (%)  Development \nAbsorption \nRate (%)  \
0                               False                                False
1                               False                                False
2                               False                                False
3                               False                                False
4                               False                                False
5                               False                                False
6                               False                                False
7                               False                                False
8                               False                                False
9                               False                                False
10                              False                                False
11                              False                                False
12                              False                                False
13                              False                                False
14                              False                                False
15                              False                                False
16                              False                                False
17                              False                                False
18                              False                                False
19                              False                                False
20                              False                                False
21                              False                                False
22                              False                                False
23                              False                                False
24                              False                                False
25                              False                                False
26                              False                                False
27                              False                                False
28                              False                                False
29                              False                                False
30                              False                                False
31                              False                                False
32                              False                                False
33                              False                                False
34                              False                                False
35                              False                                False
36                              False                                False
37                              False                                False
38                              False                                False
39                              False                                False
40                              False                                False
41                              False                                False
42                              False                                False
43                              False                                False
44                              False                                False
45                              False                                False
46                              False                                False
47                              False                                False
48                              False                                False
49                              False                                False
50                              False                                False
51                              False                                False
52                              False                                False
53                              False                                False
54                              False                                False
55                              False                                False
56                              False                                False
57                              False                                False

    Overall Ab\nsorption Rate\n (%)
0                             False
1                             False
2                             False
3                             False
4                             False
5                             False
6                             False
7                             False
8                             False
9                             False
10                            False
11                            False
12                            False
13                            False
14                            False
15                            False
16                            False
17                            False
18                            False
19                            False
20                            False
21                            False
22                            False
23                            False
24                            False
25                            False
26                            False
27                            False
28                            False
29                            False
30                            False
31                            False
32                            False
33                            False
34                            False
35                            False
36                            False
37                            False
38                            False
39                            False
40                            False
41                            False
42                            False
43                            False
44                            False
45                            False
46                            False
47                            False
48                            False
49                            False
50                            False
51                            False
52                            False
53                            False
54                            False
55                            False
56                            False
57                            False

In [30]:
# Assuming you have a DataFrame named 'df'
print("Data Types of Columns in DataFrame:")
print(df.dtypes)

Data Types of Columns in DataFrame:
County                                  object
A                                       object
B                                       object
C=A+B                                   object
D                                       object
E                                       object
Recurrent \nAbsorption \nRate (%)      float64
Development \nAbsorption \nRate (%)    float64
Overall Ab\nsorption Rate\n (%)        float64
dtype: object

In [31]:
# Assuming you have a DataFrame named 'df'
df.rename(columns={'A': 'Budget Estimates (Kshs. Million) Rec', 'B': 'Budget Estimates (Kshs. Million) Dev', 'C=A+B': 'Budget Estimates (Kshs. Million) Total', 'D': 'Expenditure (Kshs. Million) Rec', 'E': 'Expenditure (Kshs. Million) Dev', 'Recurrent \nAbsorption \nRate (%)': 'Recurrent Absorption Rate (%)', 'Development \nAbsorption \nRate (%)':'Development Absorption Rate (%)', 'Overall Ab\nsorption Rate\n (%)':'Overall Absorption Rate (%)' }, inplace=True)

# Display the updated DataFrame
print(df.head())

              County Budget Estimates (Kshs. Million) Rec  \
0            Baringo                             5,415.43
1              Bomet                             5,842.23
2            Bungoma                             9,974.99
3              Busia                             5,681.53
4  Elgeyo/\rMarakwet                             3,700.80

  Budget Estimates (Kshs. Million) Dev Budget Estimates (Kshs. Million) Total  \
0                             4,205.19                               9,620.63
1                             2,961.02                               8,803.24
2                             4,479.38                              14,454.36
3                             4,548.85                              10,230.38
4                             2,858.56                               6,559.35

  Expenditure (Kshs. Million) Rec Expenditure (Kshs. Million) Dev  \
0                        5,150.75                        1,847.19
1                        5,158.61                        1,719.97
2                        8,601.23                        1,969.51
3                        4,887.78                        1,537.63
4                        3507.189                        1597.342

   Recurrent Absorption Rate (%)  Development Absorption Rate (%)  \
0                           95.1                             43.9
1                           88.3                             58.1
2                           86.2                             44.0
3                           86.0                             33.8
4                           94.8                             55.9

   Overall Absorption Rate (%)
0                         72.7
1                         78.1
2                         73.1
3                         62.8
4                         77.8

In [32]:
# Convert specified columns to numeric, handling any formatting issues
columns_to_convert = [
    'Budget Estimates (Kshs. Billion) Rec', 
    'Budget Estimates (Kshs. Billion) Dev', 
    'Budget Estimates (Kshs. Billion) Total',
    'Expenditure (Kshs. Billion) Rec', 
    'Expenditure (Kshs. Billion) Dev', 
    'Expenditure (Kshs. Billion) Total',
    'Recurrent Absorption Rate (%)', 
    'Development Absorption Rate (%)', 
    'Overall Absorption Rate (%)'
]

for column in columns_to_convert:
    if column in df.columns:
        df[column] = df[column].astype(str)  # Convert to string to handle .str methods
        df[column] = df[column].str.replace(',', '').str.strip()  # Remove commas and spaces
        df[column] = pd.to_numeric(df[column], errors='coerce')  # Convert to numeric


# Assuming you have a DataFrame named 'df'
print("Data Types of Columns in DataFrame:")
print(df.dtypes)

Data Types of Columns in DataFrame:
County                                     object
Budget Estimates (Kshs. Million) Rec       object
Budget Estimates (Kshs. Million) Dev       object
Budget Estimates (Kshs. Million) Total     object
Expenditure (Kshs. Million) Rec            object
Expenditure (Kshs. Million) Dev            object
Recurrent Absorption Rate (%)             float64
Development Absorption Rate (%)           float64
Overall Absorption Rate (%)               float64
dtype: object

In [33]:
### Save the file
output_path = 'Cleaned_County_Budget_Allocation_Expenditure_and_Absorption_Rate_2021_2022.csv'
df.to_csv(output_path, index=False)
print(f"Cleaned data saved to '{output_path}'.")

Cleaned data saved to 'Cleaned_County_Budget_Allocation_Expenditure_and_Absorption_Rate_2021_2022.csv'.

## Cleaning County_Budget_Allocation_Expenditure_and_absorption_Rate_2022_2023 Data

In [39]:
import pandas as pd

# Load the data
input_path = "C:/Users/gorja/OneDrive/Documents/Desktop/Counties Project/County_Budget_Allocation_Expenditure_and_absorption_Rate_2022_2023.csv"
df = pd.read_csv(input_path)

# Display the first few rows of the DataFrame
print("Initial DataFrame:")
print(df.head(50))

# Display data types
print("\nData types:")
print(df.dtypes)

Initial DataFrame:
                  County           A           B       C=A+B           D  \
0                Baringo    5,368.69    3,888.73    9,257.42    5,368.49
1                  Bomet    5,848.16    2,439.18    8,287.34    5,530.23
2             Bungo-\rma   10,378.86    4,445.88   14,824.74    9,278.83
3                  Busia    6,544.61    3,033.28    9,577.88    6,225.69
4   Elgeyo/\rMarak-\rwet    3,991.29    2,264.90    6,256.19    3,769.50
5                   Embu    5,109.35    2,191.72    7,301.07    4,890.56
6                Garissa    6,556.23    2,813.92    9,370.15    6,162.63
7              Homa\rBay    6,983.69    3,095.42   10,079.11    6,940.82
8                 Isiolo    4,377.52    2,083.19    6,460.71    4,027.38
9                Kajiado    7,476.38    3,192.25   10,668.63    7,107.55
10           Kakame-\rga   11,338.34    4,859.70   16,198.04   10,477.29
11               Kericho    5,825.29    2,628.29    8,453.57    5,431.89
12                Kiambu   13,074.22    4,587.82   17,662.04   10,650.88
13                Kilifi    9,931.46    5,420.29   15,351.76    7,825.66
14          Kirin-\ryaga    4,847.45    2,185.06    7,032.51    4,836.07
15                 Kisii    7,810.10    3,303.76   11,113.86    7,520.21
16                Kisumu    8,483.12    3,562.16   12,045.28    7,271.83
17                 Kitui    8,662.90    3,643.15   12,306.05    8,173.76
18                 Kwale    7,061.20    4,868.21   11,929.41    6,758.72
19              Laikipia    5,358.07    1,833.28    7,191.35    5,323.92
20                  Lamu    3,001.20    1,366.43    4,367.63    2,747.93
21           Macha-\rkos    8,778.23    3,766.36   12,544.59    7,926.94
22               Makueni    7,485.99    3,278.76   10,764.74    7,309.93
23               Mandera    8,427.76    4,286.08   12,713.84    8,198.47
24              Marsabit    5,033.71    3,798.97    8,832.68    4,928.06
25                  Meru    8,932.70    3,716.32   12,649.03    8,816.19
26                Migori    7,253.87    3,103.11   10,356.99    6,808.40
27            Mom-\rbasa    9,868.41    4,131.59   14,000.00   10,355.16
28           Mu-\rrang'a    6,861.82    2,942.06    9,803.88    6,432.54
29         Nairobi\rCity   30,369.96    9,243.95   39,613.92   28,627.93
30                Nakuru   12,870.61    8,339.09   21,209.70   10,520.71
31                 Nandi    6,114.46    2,398.28    8,512.74    5,961.12
32                 Narok   10,153.46    4,827.66   14,981.12    9,654.28
33               Nyamira    4,909.47    2,185.41    7,094.89    4,341.27
34          Nyan-\rdarua    5,307.09    2,274.98    7,582.07    4,983.24
35                 Nyeri    5,316.93    2,291.54    7,608.47    5,113.88
36               Samburu    4,794.78    2,184.83    6,979.61    4,491.86
37                 Siaya    5,775.87    2,827.00    8,602.86    5,279.00
38        Taita/\rTaveta    4,996.55    2,197.01    7,193.56    4,874.53
39           Tana\rRiver    5,468.74    2,511.27    7,980.02    4,626.32
40       Tharaka\r-Nithi    4,364.60    1,316.77    5,681.36    4,083.61
41          Trans\rNzoia    5,807.36    3,309.33    9,116.68    5,458.99
42               Turkana   12,528.85    5,880.28   18,409.13   11,191.08
43          Uasin\rGishu    7,308.95    4,514.71   11,823.66    7,161.67
44                Vihiga    4,551.02    1,937.00    6,488.02    4,482.55
45                 Wajir    8,125.45    3,109.23   11,234.68    7,848.01
46            West Pokot    5,200.51    2,464.03    7,664.54    5,120.22
47                 Total  354,635.28  160,542.25  515,177.52  330,915.78

            E       F=D+E  G=D/A*100  H=E/B*100  I=F/C*100
0    2,432.72    7,801.21      100.0       62.6       84.3
1    1,533.35    7,063.57       94.6       62.9       85.2
2    2,734.12   12,012.95       89.4       61.5       81.0
3    1,257.07    7,482.76       95.1       41.4       78.1
4    1,390.64    5,160.15       94.4       61.4       82.5
5    1,223.44    6,114.00       95.7       55.8       83.7
6    1,597.33    7,759.96       94.0       56.8       82.8
7    2,474.76    9,415.58       99.4       79.9       93.4
8    1,462.41    5,489.79       92.0       70.2       85.0
9    2,411.57    9,519.12       95.1       75.5       89.2
10   3,657.54   14,134.83       92.4       75.3       87.3
11   2,190.79    7,622.68       93.2       83.4       90.2
12   1,212.26   11,863.14       81.5       26.4       67.2
13   3,355.06   11,180.72       78.8       61.9       72.8
14   1,609.99    6,446.06       99.8       73.7       91.7
15     457.82    7,978.02       96.3       13.9       71.8
16   1,808.50    9,080.33       85.7       50.8       75.4
17   2,129.55   10,303.32       94.4       58.5       83.7
18   2,950.19    9,708.91       95.7       60.6       81.4
19   1,225.93    6,549.85       99.4       66.9       91.1
20     763.51    3,511.43       91.6       55.9       80.4
21   1,600.08    9,527.02       90.3       42.5       75.9
22   2,537.37    9,847.31       97.6       77.4       91.5
23   3,656.65   11,855.12       97.3       85.3       93.2
24   2,698.78    7,626.84       97.9       71.0       86.3
25   2,640.93   11,457.11       98.7       71.1       90.6
26   1,690.15    8,498.55       93.9       54.5       82.1
27   2,183.64   12,538.80      104.9       52.9       89.6
28   2,037.80    8,470.34       93.7       69.3       86.4
29   4,610.46   33,238.38       94.3       49.9       83.9
30   3,008.13   13,528.84       81.7       36.1       63.8
31   1,969.44    7,930.57       97.5       82.1       93.2
32   3,149.84   12,804.13       95.1       65.2       85.5
33   1,393.94    5,735.21       88.4       63.8       80.8
34   1,673.14    6,656.38       93.9       73.5       87.8
35   1,718.40    6,832.29       96.2       75.0       89.8
36   1,837.44    6,329.30       93.7       84.1       90.7
37   1,520.28    6,799.27       91.4       53.8       79.0
38   1,261.05    6,135.58       97.6       57.4       85.3
39   1,288.96    5,915.28       84.6       51.3       74.1
40     914.06    4,997.67       93.6       69.4       88.0
41   2,138.90    7,597.89       94.0       64.6       83.3
42   3,318.04   14,509.12       89.3       56.4       78.8
43   3,218.77   10,380.44       98.0       71.3       87.8
44   1,464.63    5,947.18       98.5       75.6       91.7
45   2,377.74   10,225.75       96.6       76.5       91.0
46   2,193.11    7,313.33       98.5       89.0       95.4
47  97,980.28  428,896.06       93.3       61.0       83.3

Data types:
County        object
A             object
B             object
C=A+B         object
D             object
E             object
F=D+E         object
G=D/A*100    float64
H=E/B*100    float64
I=F/C*100    float64
dtype: object

In [40]:
#Handling mising values
# Fill missing values with 0
df.fillna(0, inplace=True)

In [41]:
# check missing values:
# Check for missing values using isnull()
missing_values = df.isnull()

# Display the resulting DataFrame
print(missing_values)

    County      A      B  C=A+B      D      E  F=D+E  G=D/A*100  H=E/B*100  \
0    False  False  False  False  False  False  False      False      False
1    False  False  False  False  False  False  False      False      False
2    False  False  False  False  False  False  False      False      False
3    False  False  False  False  False  False  False      False      False
4    False  False  False  False  False  False  False      False      False
5    False  False  False  False  False  False  False      False      False
6    False  False  False  False  False  False  False      False      False
7    False  False  False  False  False  False  False      False      False
8    False  False  False  False  False  False  False      False      False
9    False  False  False  False  False  False  False      False      False
10   False  False  False  False  False  False  False      False      False
11   False  False  False  False  False  False  False      False      False
12   False  False  False  False  False  False  False      False      False
13   False  False  False  False  False  False  False      False      False
14   False  False  False  False  False  False  False      False      False
15   False  False  False  False  False  False  False      False      False
16   False  False  False  False  False  False  False      False      False
17   False  False  False  False  False  False  False      False      False
18   False  False  False  False  False  False  False      False      False
19   False  False  False  False  False  False  False      False      False
20   False  False  False  False  False  False  False      False      False
21   False  False  False  False  False  False  False      False      False
22   False  False  False  False  False  False  False      False      False
23   False  False  False  False  False  False  False      False      False
24   False  False  False  False  False  False  False      False      False
25   False  False  False  False  False  False  False      False      False
26   False  False  False  False  False  False  False      False      False
27   False  False  False  False  False  False  False      False      False
28   False  False  False  False  False  False  False      False      False
29   False  False  False  False  False  False  False      False      False
30   False  False  False  False  False  False  False      False      False
31   False  False  False  False  False  False  False      False      False
32   False  False  False  False  False  False  False      False      False
33   False  False  False  False  False  False  False      False      False
34   False  False  False  False  False  False  False      False      False
35   False  False  False  False  False  False  False      False      False
36   False  False  False  False  False  False  False      False      False
37   False  False  False  False  False  False  False      False      False
38   False  False  False  False  False  False  False      False      False
39   False  False  False  False  False  False  False      False      False
40   False  False  False  False  False  False  False      False      False
41   False  False  False  False  False  False  False      False      False
42   False  False  False  False  False  False  False      False      False
43   False  False  False  False  False  False  False      False      False
44   False  False  False  False  False  False  False      False      False
45   False  False  False  False  False  False  False      False      False
46   False  False  False  False  False  False  False      False      False
47   False  False  False  False  False  False  False      False      False

    I=F/C*100
0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
30      False
31      False
32      False
33      False
34      False
35      False
36      False
37      False
38      False
39      False
40      False
41      False
42      False
43      False
44      False
45      False
46      False
47      False

In [42]:
# Assuming you have a DataFrame named 'df'
print("Data Types of Columns in DataFrame:")
print(df.dtypes)

Data Types of Columns in DataFrame:
County        object
A             object
B             object
C=A+B         object
D             object
E             object
F=D+E         object
G=D/A*100    float64
H=E/B*100    float64
I=F/C*100    float64
dtype: object

In [43]:
## Renaming columns
# Assuming you have a DataFrame named 'df'
df.rename(columns={'A': 'Budget Estimates (Kshs. Million) Rec', 'B': 'Budget Estimates (Kshs. Million) Dev', 'C=A+B': 'Budget Estimates (Kshs. Million) Total', 'D': 'Expenditure (Kshs. Million) Rec', 'E': 'Expenditure (Kshs. Million) Dev', 'F=D+E': 'Expenditure (Kshs. Million) Total', 'G=D/A*100':'Recurrent Absorption Rate (%)', 'H=E/B*100':'Development Absorption Rate (%)', 'I=F/C*100':'Overall Absorption Rate (%)' }, inplace=True)

# Display the updated DataFrame
print(df.head())

                 County Budget Estimates (Kshs. Million) Rec  \
0               Baringo                             5,368.69
1                 Bomet                             5,848.16
2            Bungo-\rma                            10,378.86
3                 Busia                             6,544.61
4  Elgeyo/\rMarak-\rwet                             3,991.29

  Budget Estimates (Kshs. Million) Dev Budget Estimates (Kshs. Million) Total  \
0                             3,888.73                               9,257.42
1                             2,439.18                               8,287.34
2                             4,445.88                              14,824.74
3                             3,033.28                               9,577.88
4                             2,264.90                               6,256.19

  Expenditure (Kshs. Million) Rec Expenditure (Kshs. Million) Dev  \
0                        5,368.49                        2,432.72
1                        5,530.23                        1,533.35
2                        9,278.83                        2,734.12
3                        6,225.69                        1,257.07
4                        3,769.50                        1,390.64

  Expenditure (Kshs. Million) Total  Recurrent Absorption Rate (%)  \
0                          7,801.21                          100.0
1                          7,063.57                           94.6
2                         12,012.95                           89.4
3                          7,482.76                           95.1
4                          5,160.15                           94.4

   Development Absorption Rate (%)  Overall Absorption Rate (%)
0                             62.6                         84.3
1                             62.9                         85.2
2                             61.5                         81.0
3                             41.4                         78.1
4                             61.4                         82.5

In [44]:
# Convert specified columns to numeric, handling any formatting issues
columns_to_convert = [
    'Budget Estimates (Kshs. Million) Rec', 
    'Budget Estimates (Kshs. Million) Dev', 
    'Budget Estimates (Kshs. Million) Total',
    'Expenditure (Kshs. Million) Rec', 
    'Expenditure (Kshs. Million) Dev', 
    'Expenditure (Kshs. Million) Total',
    'Recurrent Absorption Rate (%)', 
    'Development Absorption Rate (%)', 
    'Overall Absorption Rate (%)'
]

for column in columns_to_convert:
    if column in df.columns:
        df[column] = df[column].astype(str)  # Convert to string to handle .str methods
        df[column] = df[column].str.replace(',', '').str.strip()  # Remove commas and spaces
        df[column] = pd.to_numeric(df[column], errors='coerce')  # Convert to numeric


# Assuming you have a DataFrame named 'df'
print("Data Types of Columns in DataFrame:")
print(df.dtypes)

Data Types of Columns in DataFrame:
County                                     object
Budget Estimates (Kshs. Million) Rec      float64
Budget Estimates (Kshs. Million) Dev      float64
Budget Estimates (Kshs. Million) Total    float64
Expenditure (Kshs. Million) Rec           float64
Expenditure (Kshs. Million) Dev           float64
Expenditure (Kshs. Million) Total         float64
Recurrent Absorption Rate (%)             float64
Development Absorption Rate (%)           float64
Overall Absorption Rate (%)               float64
dtype: object

In [45]:
### Save the file
output_path = 'Cleaned_County_Budget_Allocation_Expenditure_and_Absorption_Rate_2023.csv'
df.to_csv(output_path, index=False)
print(f"Cleaned data saved to '{output_path}'.")

Cleaned data saved to 'Cleaned_County_Budget_Allocation_Expenditure_and_Absorption_Rate_2023.csv'.

## Cleaning Expenditure_by_Major_Economic_Classification_2021_2022

In [47]:
import pandas as pd

# Load the data
input_path = "C:/Users/gorja/OneDrive/Documents/Desktop/Counties Project/Expenditure_by_Major_Economic_Classification_2021_2022.csv"
df = pd.read_csv(input_path)

# Display the first few rows of the DataFrame
print("Initial DataFrame:")
print(df.head(50))

# Display data types
print("\nData types:")
print(df.dtypes)

Initial DataFrame:
             County Personnel Emoluments  Operations & Maintenance  \
0           Baringo         3,450,297,215            1,700,450,967
1             Bomet         3,121,646,889            2,036,959,212
2           Bungoma         5,205,871,724            3,395,355,333
3             Busia         3,122,046,063            1,765,735,689
4   Elgeyo Marakwet         2,534,891,069              972,298,271
5              Embu         3,038,753,284            1,182,982,811
6           Garissa         5,288,457,614            1,558,739,654
7          Homa Bay         4,111,201,732            1,582,909,855
8            Isiolo         1,632,366,774            2,127,297,253
9           Kajiado         3,710,827,358            1,840,700,684
10         Kakamega         5,881,178,118            3,426,683,256
11          Kericho         3,021,507,388            2,036,469,328
12           Kiambu         7,642,930,758            2,281,050,904
13           Kilifi         4,316,315,088            4,362,071,319
14        Kirinyaga         2,685,963,218            1,648,490,435
15            Kisii         5,702,631,700            2,000,979,430
16           Kisumu         5,127,435,441            1,180,420,758
17            Kitui         4,996,565,079            2,589,449,422
18            Kwale         3,419,373,586            3,183,529,547
19         Laikipia         2,814,969,584            1,540,242,492
20             Lamu         1,528,838,096            1,166,597,803
21         Machakos         6,400,178,586            2,273,138,970
22          Makueni         3,547,379,878            2,330,806,331
23          Mandera         3,295,140,489            4,273,271,022
24         Marsabit         2,801,611,546            1,713,211,963
25             Meru         5,080,221,641            2,341,780,607
26           Migori         3,254,649,814            3,368,854,252
27          Mombasa         5,561,531,213            1,473,353,281
28         Murang'a         4,362,009,462            2,323,898,354
29     Nairobi City        14,794,066,094           10,515,642,116
30           Nakuru         6,811,152,345            3,251,293,786
31            Nandi         3,849,486,012            1,951,443,981
32            Narok         4,264,839,019            5,009,922,456
33          Nyamira         3,323,342,851            1,193,181,884
34        Nyandarua         2,494,435,404            2,272,289,203
35            Nyeri         3,843,715,293            1,971,400,076
36          Samburu         2,293,546,213            1,740,242,425
37            Siaya         3,107,987,447            2,120,221,909
38     Taita Taveta         2,820,179,212            1,671,767,138
39       Tana River         2,123,686,861            3,117,724,230
40    Tharaka Nithi         2,198,285,651              979,745,106
41      Trans Nzoia         3,200,142,358            2,011,531,242
42          Turkana         4,599,325,204            2,686,116,395
43      Uasin Gishu         3,822,981,507            2,587,903,902
44           Vihiga         2,541,724,411            1,130,926,989
45            Wajir         4,401,864,681            2,515,735,890
46       West Pokot         2,964,438,325            1,976,748,977
47            Total       190,111,989,295          112,381,566,908

   Total Recurrent \nExpenditure  Development Ex\npenditure (Kshs.  \
0                  5,150,748,182                     1,847,194,402
1                  5,158,606,101                     1,719,968,378
2                  8,601,227,057                     1,969,506,954
3                  4,887,781,752                     1,537,628,130
4                  3,507,189,340                     1,597,342,232
5                  4,221,736,095                     1,110,827,995
6                  6,847,197,268                       978,127,536
7                  5,694,111,587                     2,189,697,432
8                  3,759,664,027                     1,172,139,312
9                  5,551,528,042                     2,118,956,743
10                 9,307,861,374                     4,550,517,235
11                 5,057,976,715                     1,822,643,979
12                 9,923,981,662                     2,885,947,037
13                 8,678,386,407                     2,116,784,099
14                 4,334,453,653                     1,623,487,753
15                 7,703,611,130                     1,887,895,633
16                 6,307,856,199                     1,175,681,558
17                 7,586,014,501                     2,728,054,436
18                 6,602,903,133                     3,184,346,882
19                 4,355,212,076                     1,862,129,632
20                 2,695,435,899                     1,042,916,227
21                 8,673,317,557                     1,317,517,151
22                 5,878,186,208                     2,571,187,021
23                 7,568,411,511                     4,027,479,362
24                 4,514,823,509                     3,245,198,049
25                 7,422,002,247                     2,585,918,790
26                 6,623,504,066                     2,115,152,376
27                 7,034,884,494                     3,474,451,994
28                 6,685,907,816                     1,374,406,246
29                25,309,708,210                     3,024,714,779
30                10,062,446,131                     5,499,909,648
31                 5,800,929,993                     1,809,182,923
32                 9,274,761,474                     1,338,292,141
33                 4,516,524,735                     1,327,812,045
34                 4,766,724,607                     1,116,410,916
35                 5,815,115,369                     1,403,365,761
36                 4,033,788,638                     1,855,246,816
37                 5,228,209,356                     1,879,752,735
38                 4,491,946,349                       822,563,378
39                 5,241,411,091                     1,927,723,338
40                 3,178,030,757                     1,132,434,701
41                 5,211,673,599                     2,591,583,388
42                 7,285,441,599                     2,491,863,053
43                 6,410,885,409                     3,781,954,388
44                 3,672,651,400                       647,138,047
45                 6,917,600,571                     2,391,604,385
46                 4,941,187,302                     1,596,706,031
47               302,493,556,198                    98,471,363,043

   Total Expenditure \n(Kshs.)
0                6,997,942,583
1                6,878,574,478
2               10,570,734,011
3                6,425,409,882
4                5,104,531,572
5                5,332,564,090
6                7,825,324,804
7                7,883,809,019
8                4,931,803,339
9                7,670,484,785
10              13,858,378,609
11               6,880,620,694
12              12,809,928,699
13              10,795,170,506
14               5,957,941,406
15               9,591,506,763
16               7,483,537,756
17              10,314,068,937
18               9,787,250,015
19               6,217,341,708
20               3,738,352,126
21               9,990,834,707
22               8,449,373,229
23              11,595,890,873
24               7,760,021,558
25              10,007,921,037
26               8,738,656,442
27              10,509,336,488
28               8,060,314,062
29              28,334,422,989
30              15,562,355,779
31               7,610,112,916
32              10,613,053,615
33               5,844,336,780
34               5,883,135,523
35               7,218,481,130
36               5,889,035,454
37               7,107,962,091
38               5,314,509,728
39               7,169,134,429
40               4,310,465,458
41               7,803,256,987
42               9,777,304,653
43              10,192,839,797
44               4,319,789,447
45               9,309,204,956
46               6,537,893,334
47             400,964,919,244

Data types:
County                               object
Personnel Emoluments                 object
Operations & Maintenance             object
Total Recurrent \nExpenditure        object
 Development Ex\npenditure (Kshs.    object
Total Expenditure \n(Kshs.)          object
dtype: object

In [48]:
#Handling mising values
# Fill missing values with 0
df.fillna(0, inplace=True)

In [49]:
# check missing values:
# Check for missing values using isnull()
missing_values = df.isnull()

# Display the resulting DataFrame
print(missing_values)

    County  Personnel Emoluments   Operations & Maintenance  \
0    False                  False                     False
1    False                  False                     False
2    False                  False                     False
3    False                  False                     False
4    False                  False                     False
5    False                  False                     False
6    False                  False                     False
7    False                  False                     False
8    False                  False                     False
9    False                  False                     False
10   False                  False                     False
11   False                  False                     False
12   False                  False                     False
13   False                  False                     False
14   False                  False                     False
15   False                  False                     False
16   False                  False                     False
17   False                  False                     False
18   False                  False                     False
19   False                  False                     False
20   False                  False                     False
21   False                  False                     False
22   False                  False                     False
23   False                  False                     False
24   False                  False                     False
25   False                  False                     False
26   False                  False                     False
27   False                  False                     False
28   False                  False                     False
29   False                  False                     False
30   False                  False                     False
31   False                  False                     False
32   False                  False                     False
33   False                  False                     False
34   False                  False                     False
35   False                  False                     False
36   False                  False                     False
37   False                  False                     False
38   False                  False                     False
39   False                  False                     False
40   False                  False                     False
41   False                  False                     False
42   False                  False                     False
43   False                  False                     False
44   False                  False                     False
45   False                  False                     False
46   False                  False                     False
47   False                  False                     False

    Total Recurrent \nExpenditure   Development Ex\npenditure (Kshs.  \
0                           False                              False
1                           False                              False
2                           False                              False
3                           False                              False
4                           False                              False
5                           False                              False
6                           False                              False
7                           False                              False
8                           False                              False
9                           False                              False
10                          False                              False
11                          False                              False
12                          False                              False
13                          False                              False
14                          False                              False
15                          False                              False
16                          False                              False
17                          False                              False
18                          False                              False
19                          False                              False
20                          False                              False
21                          False                              False
22                          False                              False
23                          False                              False
24                          False                              False
25                          False                              False
26                          False                              False
27                          False                              False
28                          False                              False
29                          False                              False
30                          False                              False
31                          False                              False
32                          False                              False
33                          False                              False
34                          False                              False
35                          False                              False
36                          False                              False
37                          False                              False
38                          False                              False
39                          False                              False
40                          False                              False
41                          False                              False
42                          False                              False
43                          False                              False
44                          False                              False
45                          False                              False
46                          False                              False
47                          False                              False

    Total Expenditure \n(Kshs.)
0                         False
1                         False
2                         False
3                         False
4                         False
5                         False
6                         False
7                         False
8                         False
9                         False
10                        False
11                        False
12                        False
13                        False
14                        False
15                        False
16                        False
17                        False
18                        False
19                        False
20                        False
21                        False
22                        False
23                        False
24                        False
25                        False
26                        False
27                        False
28                        False
29                        False
30                        False
31                        False
32                        False
33                        False
34                        False
35                        False
36                        False
37                        False
38                        False
39                        False
40                        False
41                        False
42                        False
43                        False
44                        False
45                        False
46                        False
47                        False

In [50]:
# Assuming you have a DataFrame named 'df'
print("Data Types of Columns in DataFrame:")
print(df.dtypes)

Data Types of Columns in DataFrame:
County                               object
Personnel Emoluments                 object
Operations & Maintenance             object
Total Recurrent \nExpenditure        object
 Development Ex\npenditure (Kshs.    object
Total Expenditure \n(Kshs.)          object
dtype: object

In [51]:
# Droping unnecessary columns
# Drop the specified columns
columns_to_drop = [
    'Personnel Emoluments ', 'Operations & Maintenance'
]

df.drop(columns=columns_to_drop, inplace=True)

In [52]:
print(df.dtypes)

County                               object
Total Recurrent \nExpenditure        object
 Development Ex\npenditure (Kshs.    object
Total Expenditure \n(Kshs.)          object
dtype: object

In [53]:
## Renaming columns
# Assuming you have a DataFrame named 'df'
df.rename(columns={'Total Recurrent \nExpenditure': ' Total Recurrent Expenditure', ' Development Ex\npenditure (Kshs.': ' Development Expenditure', 'Total Expenditure \n(Kshs.)': 'Total Expenditure'}, inplace=True)

# Display the updated DataFrame
print(df.head())

            County  Total Recurrent Expenditure  Development Expenditure  \
0          Baringo                5,150,748,182            1,847,194,402
1            Bomet                5,158,606,101            1,719,968,378
2          Bungoma                8,601,227,057            1,969,506,954
3            Busia                4,887,781,752            1,537,628,130
4  Elgeyo Marakwet                3,507,189,340            1,597,342,232

  Total Expenditure
0     6,997,942,583
1     6,878,574,478
2    10,570,734,011
3     6,425,409,882
4     5,104,531,572

In [54]:
# Convert specified columns to numeric, handling any formatting issues
columns_to_convert = [
    'Total Recurrent Expenditure', 
    'Development Expenditure', 
    'Total Expenditure'
    ]

for column in columns_to_convert:
    if column in df.columns:
        df[column] = df[column].astype(str)  # Convert to string to handle .str methods
        df[column] = df[column].str.replace(',', '').str.strip()  # Remove commas and spaces
        df[column] = pd.to_numeric(df[column], errors='coerce')  # Convert to numeric


# Assuming you have a DataFrame named 'df'
print("Data Types of Columns in DataFrame:")
print(df.dtypes)

Data Types of Columns in DataFrame:
County                          object
 Total Recurrent Expenditure    object
 Development Expenditure        object
Total Expenditure                int64
dtype: object

In [55]:
### Save the file
output_path = 'Cleaned_Expenditure_by_Major_Economic_Classification_2022.csv'
df.to_csv(output_path, index=False)
print(f"Cleaned data saved to '{output_path}'.")

Cleaned data saved to 'Cleaned_Expenditure_by_Major_Economic_Classification_2022.csv'.

## Cleaning Expenditure_by_Major_Economic_Classification_2022-2023

In [58]:
import pandas as pd

# Load the data
input_path = "C:/Users/gorja/OneDrive/Documents/Desktop/Counties Project/Expenditure_by_Major_Economic_Classification_2022-2023.csv"
df = pd.read_csv(input_path)

# Display the first few rows of the DataFrame
print("Initial DataFrame:")
print(df.head(50))

# Display data types
print("\nData types:")
print(df.dtypes)

Initial DataFrame:
               County                A                B            C=A+B  \
0              Kiambu    7,667,891,497    2,982,985,530   10,650,877,027
1              Kilifi    4,779,457,311    3,046,198,864    7,825,656,175
2           Kirinyaga    2,906,183,515    1,929,883,732    4,836,067,247
3               Kisii    5,635,833,829    1,884,373,792    7,520,207,621
4              Kisumu    4,853,815,255    2,418,017,795    7,271,833,050
5               Kitui    4,884,247,661    3,289,516,780    8,173,764,441
6               Kwale    3,289,955,432    3,468,759,650    6,758,715,082
7            Laikipia    3,648,148,509    1,675,767,361    5,323,915,870
8                Lamu    1,621,061,853    1,126,864,417    2,747,926,271
9            Machakos    5,720,766,966    2,206,172,893    7,926,939,858
10            Makueni    4,405,297,128    2,904,636,955    7,309,934,082
11            Mandera    3,986,566,397    4,211,904,034    8,198,470,430
12           Marsabit    3,012,922,471    1,915,135,744    4,928,058,215
13               Meru    5,776,965,781    3,039,220,499    8,816,186,280
14             Migori    3,306,429,940    3,501,972,210    6,808,402,150
15            Mombasa    6,903,270,841    3,451,887,742   10,355,158,583
16           Murang'a    4,271,264,056    2,161,272,934    6,432,536,990
17       Nairobi City   12,186,281,786   16,441,644,954   28,627,926,740
18             Nakuru    6,921,076,137    3,599,633,797   10,520,709,934
19              Nandi    3,639,290,897    2,321,831,902    5,961,122,799
20              Narok    4,607,802,622    5,046,481,753    9,654,284,375
21            Nyamira    3,061,065,041    1,280,209,897    4,341,274,938
22          Nyandarua    2,489,904,491    2,493,332,966    4,983,237,457
23              Nyeri    3,914,380,491    1,199,503,430    5,113,883,921
24            Samburu    2,204,439,800    2,287,424,365    4,491,864,165
25              Siaya    3,001,492,505    2,277,503,557    5,278,996,062
26       Taita Taveta    3,273,588,290    1,600,940,205    4,874,528,495
27         Tana River    1,934,245,203    2,692,075,152    4,626,320,355
28      Tharaka Nithi    2,845,808,754    1,237,802,990    4,083,611,744
29        Trans Nzoia    3,304,858,873    2,154,126,237    5,458,985,110
30            Turkana    4,427,369,402    6,763,712,568   11,191,081,970
31        Uasin Gishu    4,196,168,379    2,965,501,035    7,161,669,414
32            Baringo    3,431,707,237    1,936,779,643    5,368,486,881
33              Bomet    3,174,187,421    2,356,038,347    5,530,225,768
34            Bungoma    5,385,207,688    3,893,620,888    9,278,828,576
35              Busia    3,372,659,005    2,853,030,158    6,225,689,163
36  Elgeyo Marak\nwet    2,497,272,680    1,272,230,526    3,769,503,206
37               Embu    3,453,561,407    1,436,998,305    4,890,559,712
38            Garissa    4,767,693,237    1,394,936,285    6,162,629,522
39           Homa Bay    4,515,876,655    2,424,943,663    6,940,820,318
40             Isiolo    2,044,390,349    1,982,988,893    4,027,379,242
41            Kajiado    4,603,884,407    2,503,664,114    7,107,548,521
42           Kakamega    6,238,655,022    4,238,635,229   10,477,290,252
43            Kericho    3,257,744,713    2,174,144,303    5,431,889,016
44             Vihiga    2,524,955,657    1,957,597,283    4,482,552,940
45              Wajir    4,477,868,418    3,370,141,297    7,848,009,715
46         West Pokot    2,667,136,835    2,453,083,815    5,120,220,649
47              Total  195,090,651,843  135,825,128,488  330,915,780,331

                 D            E=C+D
0    1,212,259,243   11,863,136,270
1    3,355,060,000   11,180,716,175
2    1,609,991,179    6,446,058,427
3      457,815,848    7,978,023,469
4    1,808,499,184    9,080,332,234
5    2,129,554,649   10,303,319,090
6    2,950,191,667    9,708,906,748
7    1,225,931,428    6,549,847,298
8      763,507,194    3,511,433,465
9    1,600,080,058    9,527,019,916
10   2,537,372,482    9,847,306,564
11   3,656,648,676   11,855,119,107
12   2,698,781,808    7,626,840,023
13   2,640,927,572   11,457,113,852
14   1,690,148,150    8,498,550,300
15   2,183,638,615   12,538,797,198
16   2,037,799,896    8,470,336,886
17   4,610,458,210   33,238,384,950
18   3,008,132,002   13,528,841,936
19   1,969,443,798    7,930,566,597
20   3,149,842,969   12,804,127,344
21   1,393,939,708    5,735,214,646
22   1,673,141,763    6,656,379,220
23   1,718,404,708    6,832,288,629
24   1,837,438,170    6,329,302,335
25   1,520,275,370    6,799,271,432
26   1,261,053,122    6,135,581,617
27   1,288,961,673    5,915,282,027
28     914,063,233    4,997,674,977
29   2,138,901,698    7,597,886,808
30   3,318,037,130   14,509,119,100
31   3,218,766,179   10,380,435,592
32   2,432,718,510    7,801,205,391
33   1,533,347,795    7,063,573,563
34   2,734,122,548   12,012,951,124
35   1,257,066,447    7,482,755,610
36   1,390,643,910    5,160,147,116
37   1,223,444,503    6,114,004,216
38   1,597,334,634    7,759,964,156
39   2,474,759,957    9,415,580,275
40   1,462,406,427    5,489,785,669
41   2,411,570,893    9,519,119,414
42   3,657,539,952   14,134,830,203
43   2,190,789,977    7,622,678,993
44   1,464,628,343    5,947,181,283
45   2,377,736,408   10,225,746,123
46   2,193,105,287    7,313,325,936
47  97,980,282,972  428,896,063,303

Data types:
County    object
A         object
B         object
C=A+B     object
D         object
E=C+D     object
dtype: object

In [59]:
#Handling mising values
# Fill missing values with 0
df.fillna(0, inplace=True)

In [60]:
# check missing values:
# Check for missing values using isnull()
missing_values = df.isnull()

# Display the resulting DataFrame
print(missing_values)

    County      A      B  C=A+B      D  E=C+D
0    False  False  False  False  False  False
1    False  False  False  False  False  False
2    False  False  False  False  False  False
3    False  False  False  False  False  False
4    False  False  False  False  False  False
5    False  False  False  False  False  False
6    False  False  False  False  False  False
7    False  False  False  False  False  False
8    False  False  False  False  False  False
9    False  False  False  False  False  False
10   False  False  False  False  False  False
11   False  False  False  False  False  False
12   False  False  False  False  False  False
13   False  False  False  False  False  False
14   False  False  False  False  False  False
15   False  False  False  False  False  False
16   False  False  False  False  False  False
17   False  False  False  False  False  False
18   False  False  False  False  False  False
19   False  False  False  False  False  False
20   False  False  False  False  False  False
21   False  False  False  False  False  False
22   False  False  False  False  False  False
23   False  False  False  False  False  False
24   False  False  False  False  False  False
25   False  False  False  False  False  False
26   False  False  False  False  False  False
27   False  False  False  False  False  False
28   False  False  False  False  False  False
29   False  False  False  False  False  False
30   False  False  False  False  False  False
31   False  False  False  False  False  False
32   False  False  False  False  False  False
33   False  False  False  False  False  False
34   False  False  False  False  False  False
35   False  False  False  False  False  False
36   False  False  False  False  False  False
37   False  False  False  False  False  False
38   False  False  False  False  False  False
39   False  False  False  False  False  False
40   False  False  False  False  False  False
41   False  False  False  False  False  False
42   False  False  False  False  False  False
43   False  False  False  False  False  False
44   False  False  False  False  False  False
45   False  False  False  False  False  False
46   False  False  False  False  False  False
47   False  False  False  False  False  False

In [61]:
# Assuming you have a DataFrame named 'df'
print("Data Types of Columns in DataFrame:")
print(df.dtypes)

Data Types of Columns in DataFrame:
County    object
A         object
B         object
C=A+B     object
D         object
E=C+D     object
dtype: object

In [62]:
# Droping unnecessary columns
# Drop the specified columns
columns_to_drop = [
    'A', 'B'
]

df.drop(columns=columns_to_drop, inplace=True)

In [63]:
print(df.dtypes)

County    object
C=A+B     object
D         object
E=C+D     object
dtype: object

In [64]:
## Renaming columns
# Assuming you have a DataFrame named 'df'
df.rename(columns={'C=A+B': ' Total Recurrent Expenditure', 'D': ' Development Expenditure', 'E=C+D': 'Total Expenditure'}, inplace=True)

# Display the updated DataFrame
print(df.head())

      County  Total Recurrent Expenditure  Development Expenditure  \
0     Kiambu               10,650,877,027            1,212,259,243
1     Kilifi                7,825,656,175            3,355,060,000
2  Kirinyaga                4,836,067,247            1,609,991,179
3      Kisii                7,520,207,621              457,815,848
4     Kisumu                7,271,833,050            1,808,499,184

  Total Expenditure
0    11,863,136,270
1    11,180,716,175
2     6,446,058,427
3     7,978,023,469
4     9,080,332,234

In [65]:
# Convert specified columns to numeric, handling any formatting issues
columns_to_convert = [
    'Total Recurrent Expenditure', 
    'Development Expenditure', 
    'Total Expenditure'
    ]

for column in columns_to_convert:
    if column in df.columns:
        df[column] = df[column].astype(str)  # Convert to string to handle .str methods
        df[column] = df[column].str.replace(',', '').str.strip()  # Remove commas and spaces
        df[column] = pd.to_numeric(df[column], errors='coerce')  # Convert to numeric


# Assuming you have a DataFrame named 'df'
print("Data Types of Columns in DataFrame:")
print(df.dtypes)

Data Types of Columns in DataFrame:
County                          object
 Total Recurrent Expenditure    object
 Development Expenditure        object
Total Expenditure                int64
dtype: object

In [66]:
### Save the file
output_path = 'Cleaned_Expenditure_by_Major_Economic_Classification_2023.csv'
df.to_csv(output_path, index=False)
print(f"Cleaned data saved to '{output_path}'.")

Cleaned data saved to 'Cleaned_Expenditure_by_Major_Economic_Classification_2023.csv'.